# Vite
.vite/
dist/
UserApplication/dist/
AdminApp/dist/

# Node
node_modules/
UserApplication/node_modules/
AdminApp/node_modules/

# Python
API/.venv/
API/venv/
API/__pycache__/
API/.env

./code-with-vedanth-firebase-adminsdk-fbsvc-b50b5bee36.json